body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #849d8f;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/*_____HEADER_____*/
/*_____MAIN_NAVIGATION_____*/

header {
    margin: 0;
    padding: 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    margin-top: 9px;
    margin-right: 25px;
    line-height: 0;
}

.navigation {
    line-height: 18px;
    list-style: none;
    margin: 0;
    margin-top: 30px;
    display: flex;
    margin-right: auto;
    padding: 0;
}

.nav-li {
    margin-right: 25px;
}

.navigation a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

.nav-li > .nav-btn:hover,
.nav-li > a:focus {
    border-radius: 10px;
    color: #323232;
    background-color: #ffffff;
}

.catalog:hover .catalog-title {
    border-radius: 10px;
    background-color: #ffffff;
    color: #323232;
}

.catalog-title:hover + .catalog-dropdown,
.catalog-title:focus + .catalog-dropdown,
.catalog-dropdown:hover,
.catalog-dropdown:focus {
    display: block;
}

.catalog-dropdown {
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    color: #323232;
    background-color: #ffffff;
    display: none;
}

.catalog-dropdown a {
    text-decoration: none;
    font-weight: normal;
}

.catalog-link:hover,
.catalog-link:focus {
    background-color: #fbded8;
    border-top: 1px solid #dce2dd;
    border-bottom: 1px solid #dce2dd;
}

.catalog-new {
    font-weight: bold;
}

.catalog-new h3 {
    border-bottom: 1px solid #d1d0ce;
}

/*_____USER_NAVIGATION_____*/

.user-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.user-nav-li {
    text-align: center;
    vertical-align: middle;
    width: auto;
    box-sizing: border-box;
    margin-left: 10px;
    height: 32px;
    border-radius: 16px;
    border-top: 1px solid transparent;
}

.user-nav-li,
.search {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-button {
    padding: 7px 8px 8px 8px;
}

.login-button,
.basket-button {
    padding: 6px 34px 9px 34px;
}

.login-button div,
.basket-button div {
    position: absolute;
}

.search-button:hover,
.search-button:focus,
.login-button:hover,
.login-button:focus {
    background-color: rgba(255, 255, 255, 1);
}

.user-navigation  form {
    background-color: #f8f7f4;
}

.search {
    display: none;
}

.search-button:hover .search,
.search-button:focus .search {
    display: block;
}

.search-form {
    background-color: #f8f7f4;
    border-radius: 5px;
}

.search-form input {
    border: 1px solid #acc2b6;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24.3px;
}

.search-form input::placeholder {
    font-weight: normal;
}

.login-button:hover + .login,
.login-button:focus + .login,
.login:hover,
.login:focus {
    display: block;
}

.login {
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.login-form--input  {
    border: 1px solid #acc2b6;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
}

.login-form--input::placeholder {
    font-weight: normal;
}

.login-form--button {
    background-image: linear-gradient(#f26843, #e74b36);
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 10px;
}

.user-creating a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-table {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: ;
}

.basket-table img {
    border-radius: 50%;
}

.basket-table-price {
    color: #999999;
}

.total {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.ordering {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fefefe;
    background-image: linear-gradient(#f26843, #e74b36);
}

/*_____SLIDER_____*/

.slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    font-weight: bold;
    height: 570px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: auto;
    align-items: flex-end;
    font-weight: bold;
    white-space: nowrap;
}

.working-hours {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 4px;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

.slider-frame {
    background-position: 280px 82px, 76px 0;
    background-repeat: no-repeat;
}

.slider-frame-first {
    background-image: url("../img/ice-cream-first-frame.png"),
        url("../img/light-first-frame-1200.png");
}

.slider-frame-second {
    background-image: url("../img/ice-cream-second-frame.png"),
        url("../img/light-second-frame-1200.png");
}

.slider-frame-third {
    background-image: url("../img/ice-cream-third-frame.png"),
        url("../img/light-third-frame-1200.png");
}

.slider-lettering {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider-lettering-first {

}

.slider-lettering-second {
    display: none;
}

.slider-lettering-third {
    display: none;
}

.slider-title {
    margin-top: 0;
    margin-bottom: 27px;
    padding: 0 230px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}

.slider-lettering a {
    align-self: center;
    margin-bottom: 40px;
    padding: 7px 50px 16px;
    border-radius: 41px;
    text-shadow: 0 2px 5px #a0200b;
    font-size: 32px;
    line-height: 44px;
    background-image: linear-gradient(#f26843, #e74b36);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-decoration: none;
    color: #ffffff;
}

.control-block {
    position: absolute;
    left: 27px;
    bottom: 60px;
    z-index: 1;
}

/*_____SPECIAL_OFFERS_____*/

.special-offers {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.offer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    padding: 15px 21px 23px 18px;
}

.raspberry {
    background-color: #c93756;
    background-image: url("../img/raspberry-background-1200.jpg");
}

.chocolate {
    background-color: #5b3c2f;
    background-image: url("../img/chocolate-background-1200.jpg");
}

.offer-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
}

.offer p {
    margin: 0;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 22px;
}

.offer a {
    align-self: flex-end;
    padding: 12px 29px 13px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 24px;
    background-image: linear-gradient(#f26843, #e74b36);
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

/*_____HITS_____*/

.hits {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 22.2%;
}

.image-wrapper img{
    border-radius: 50%;
}

.card:hover,
.card:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.card:hover .button {
    display: block;
}

.card .button {
    display: none;
}

.card:before {
    position: absolute;
    width: 61px;
    height: 61px;
    content: "";
    border-radius: 50%;
    background-image: url("../img/hit.svg");
}

.price {
    position: absolute;
    bottom: 60px;
    left: 0;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.uppercase {
    font-size: 45px;
}

.description {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 500;
}

.card a {
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(#f26843, #e74b36);
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

/*_____FEATURES_____*/

.features {
    background-color: #efe4d0;
    background-image: url("../img/waffle.jpg");
    background-repeat: repeat;
    border-radius: 10px;
    color: #323232;
}

.feature-list {
    list-style: none;
}

.feature-li::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
}

.ice-cream::before {
    background-image: url("../img/ice-cream.svg");
}

.cow::before {
    background-image: url("../img/cow.svg");
}

.eco::before {
    background-image: url("../img/eco.svg");
}

.thermometer::before {
    background-image: url("../img/thermometer.svg");
}

.feature-title {
    font-size: 24px;
    line-height: 30px;
}

.feature-paragraph {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

/*_____NEWS_____*/

.news {
    background-color: #f9e6eb;
    background-image: url("../img/strawberry-background.jpg");
    border-radius: 10px;
}

.news-title {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: 500;
}

.news-paragraph {
    font-size: 24px;
    line-height: 30px;
    color: #353535;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
}

/*_____MAILING_LIST_____*/

.mailing-list {
    background-color: #96cfff;
    background-image: url("../img/mail-background.png");
    padding: 5px;
    border-radius: 10px;
}

.mailing-list-box {
    background-color: #f8f7f4;
    border-radius: 10px;
    margin: 0;
}

.mailing-list p {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: normal;
}

.mailing-list input {
    border: 1px solid #acc2b6;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.mailing-list input::placeholder {
    font-weight: normal;
}

.mailing-list button {
    background-image: linear-gradient(#f26843, #e74b36);
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/*_____MAP_____*/

.contacts {
    border-radius: 10px;
    background-color: #ffffff;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts-address span {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.contacts-number span {
    line-height: 22px;
}

.contacts-number b {
    font-size: 18px;
}

.contacts-button {
    text-decoration: none;
    background-image: linear-gradient(#f26843, #e74b36);
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/*_____FEEDBACK_____*/

.feedback-section {
    background-color: #f8f7f4;
    border-radius: 15px;
}

.promise {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.feedback-form input {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.feedback-form input::placeholder {
    font-weight: normal;
}

.feedback-form button {
    background-image: linear-gradient(#f26843, #e74b36);
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/*_____FOOTER_____*/

.main-footer {
    font-size: 13px;
    line-height: 18px;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links {
    font-size: 13px;
    line-height: 18px;
}

.footer-links a {
    text-decoration: underline;
    color: #ffffff;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright a {
    text-decoration: none;
    color: #fefefe;
}

/*__________CATALOG__________*/

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: underline;
}

.breadcrumbs-active {
    text-decoration: none;
}

.icecream-type {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

/*_____FILTERS_____*/
.filters fieldset {
    background-color: rgba(255, 255, 255, 0.2);
}

.filters legend {
    font-size: 14px;
    line-height: 16px;
}

.filters label,
.filters option,
.filters button {
    font-size: 16px;
}

.filters label {
    line-height: 18px;
}

.filters select {
    line-height: normal;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: #ffffff;
}

.filters select:active,
.filters select:hover,
.filters select:focus {
    background-color: #ffffff;
    color: #343434;
}

.filters option {
    font-weight: normal;
}

.filters button {
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
}

.min-price,
.max-price {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0);
    font-size: 14px;
    line-height: 16px;
    border: none;
}


/*_____PAGINATION_____*/

.pagination-list {
    list-style: none;
}

.pagination-item {
    width: 26px;
    height: 26px;
}

.pagination-item a {
    color: inherit;
    text-decoration: none;
}

.previous-page {
    transform: rotate(180deg);
}

.pagination-item-active {
    border-radius: 50%;
    background-color: #ffffff;
    color: #323232;
    text-align: center;
    vertical-align: middle;
}

/*______________________________________________________________*/

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0 27px;
    box-sizing: border-box;
}

.wrapper {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
}

.active-page {
    text-decoration: none;
    color: #ffffff;
    background-color: #d07058;
}

.offer-title {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
}

.news-title {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: normal;
    font-family: 'Roboto', Arial, sans-serif;
}
